<html>
   <head>
      <title>TrafalgarPlaza</title>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/visitorbase.css') }}">
   </head>
   <body> 
      <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     
      </br></br>
      <div class = "login">
         <h1 id = size1 style="text-align:center">Welcome to Trafalgar Plaza!</h1>
         <p id = "size2">You can now proceed to the Building.
         </p>
      </div>
   </body>
</html>