<html>
   <head>
      <title>TrafalgarPlaza</title>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/visitorbase.css') }}">
   </head>
   <body>
      <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div class="topnav">
         <div class="topnav-right">
            <a class ="active" href="register.html">Register</a>
         </div>
      </div>
      <form method = "POST">
         </br></br></br>
         </br>
         <div class = "registration">
            <h1>Visitor Registration</h1>
            </br>
            <table>
               <tr>
                  <td>
                     <label>First Name</label>
                     <input type = "text" placeholder="Enter First Name" name = "fname" required>
                  </td>
                  <td><label>Last Name</label>
                     <input type = "text" placeholder="Enter Last Name" name = "lname" required>
                  </td>
            </table>
            <label>Mobile Number</label>
            <input type = "text" placeholder="Enter Mobile Number" name = "mobile_number" required>
            <label>Email</label>
            <input type = "text" placeholder="Enter Email" name = "email" required>
            <label>Password</label>
            <input type = "password" placeholder="Enter Password" name = "password" required>
            </br></br>
            <a><input class = "submit" type = "Submit" class = "btn btn-dark" value = "Register"></a>
         </div>
      </form>
   </body>